version: "3.9"
services:
  frontend:
    image: thingspanel/thingspanel-vue:v0.5.2
    ports:
      - "8080:8080"
    expose:
      - 8080
    environment:
      - "BANKEND_HOST=172.19.0.2:9999" #后端接口代理地址
      - "TZ=Asia/Shanghai"
    depends_on:
      - backend
      - rule-engine
    hostname: frontend
    networks:
      extnetwork:
        ipv4_address: 172.19.0.3
    links:
      - backend
      - rule-engine
    volumes:
      - nginx:/etc/nginx

  rule-engine:
    image: thingspanel/rule-engine:v0.4.5
    ports:
      - "1880:1880"
    environment:
      - "TZ=Asia/Shanghai"
    expose:
      - 1880
    hostname: rule-engine
    networks:
      extnetwork:
        ipv4_address: 172.19.0.7

  database:
    image: timescale/timescaledb:latest-pg12
    privileged: true
    volumes:
      - ./data/timescaleDB:/var/lib/postgresql/data
    ports: # 如不需要从外部访问可删除端口映射
      - "5432:5432"
    environment:
      - "TZ=Asia/Shanghai"
      - "LC_ALL=C.UTF-8"
      - "POSTGRES_DB=ThingsPanel"
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgresThingsPanel2022"
      - "POSTGRES_HOST_AUTH_METHOD=trust"
    hostname: postgres
    networks:
      extnetwork:
        ipv4_address: 172.19.0.4

  gmqtt:
    image: thingspanel/thingspanel-gmqtt:v0.5.0
    volumes:
      - gmqtt:/gmqttd
    ports:
      - "1883:1883"
      - "8083:8083"
    environment:
      - "TZ=Asia/Shanghai"
    hostname: gmqtt
    networks:
      extnetwork:
        ipv4_address: 172.19.0.5

  redis:
    image: redis:6.2.7
    command: redis-server --requirepass redis2022
    volumes:
      - ./data/redis/data:/data
      - ./data/redis/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - ./data/redis/logs:/logs
    ports: # 如不需要从外部访问可删除端口映射
      - "6379:6379"
    environment:
      - "TZ=Asia/Shanghai"
    hostname: redis
    networks:
      extnetwork:
        ipv4_address: 172.19.0.6

  backend:
    image: thingspanel/thingspanel-go:v0.5.2
    ports: # 如不需要从外部访问可删除端口映射
      - "9999:9999"
    environment:
      - "TZ=Asia/Shanghai"
      - "TP_PG_IP=172.19.0.4"
      - "TP_PG_PORT=5432"
      - "TP_MQTT_HOST=172.19.0.5:1883"
      - "MQTT_HTTP_HOST=172.19.0.5:8083"
      - "TP_REDIS_HOST=172.19.0.6:6379"
      - "PLUGIN_HTTP_HOST=172.19.0.8:503"
    hostname: backend
    networks:
      extnetwork:
        ipv4_address: 172.19.0.2
    depends_on:
      - gmqtt
      - database
      - redis
    links:
      - database
      - gmqtt
      - redis
    volumes:
      - go:/go/src/app/files
      - go:/go/src/app/conf
    restart: on-failure
    ulimits:
      nproc: 524288
      nofile:
        soft: 20000
        hard: 40000
  modbus-plugin:
    image: thingspanel/modbus-protocol-plugin:v0.5.0
    ports:
      - "502:502"
      - "503:503"
    environment:
      - "TZ=Asia/Shanghai"
    hostname: modbus-plugin
    networks:
      extnetwork:
        ipv4_address: 172.19.0.8
    depends_on:
      - backend
    links:
      - backend
      - gmqtt
    restart: on-failure
    ulimits:
      nproc: 524288
      nofile:
        soft: 20000
        hard: 40000
volumes:
  go:
  gmqtt:
  nginx:

networks:
  extnetwork:
    ipam:
      config:
        - subnet: 172.19.0.0/16



